*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}

header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: none;
  }

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 55px;
    font-weight: 550;
}

.logo{
    font-size: 24px;
}

.hero{
    width: 100%;
    height:auto;
    background: url(heo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 140px 0;
}

.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p{
font-size: 20px;
margin-bottom: 10px;
}

.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input{
    width: 70%;
    padding: 10PX;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(245, 37, 9);
}

.search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    background: rgb(245, 37, 9);
    color: #fff;
    cursor: pointer;
}

/*......Recipes-Section..........*/
.recipes{
    padding: 50px 0;
}
.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}


.recipes-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}

.recipes-card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.recipes-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipes-card h2{
    font-size: 22px;
    padding: 20px;
}

.recipes-card a{
    font-size: 18px;
    padding: 20px;
}

.recipes-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

footer{
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}

/*......Media Query...........*/

@media only screen and (min-width: 760px) {
    .menu-icon{
        display: none;
      }
      .nav-list{
        display: block;
      }
}

@media only screen and (min-width: 760px) {
        .hero h2{
            font-size: 28px;
        }
        .hero p{
            font-size: 15px;
        }
}